html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img.logo {
    width: 60%;
    margin: 0 auto;
    display: block;
    z-index: 100000;
}

.spacing-right {
    margin-right: 30px;
}
.custom-checkbox {
    display: none;
}

#seatcheck {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
    margin-right: 5px; 
}

/* Style for when the checkbox is checked */
.custom-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: green; 
    transform: translate(-50%, -50%);
}

.reserved-seat {
    background-color: red !important;
    cursor: not-allowed !important;
    pointer-events: none; 
}




